*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
in-app billing public key.txt
app/app-release.apk
app/src/main/res/values/publickey.xml
app/release/*
.idea/*
/.idea/*